* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: poppins;
    background-color: rgb(1, 1, 15);
}


/* styles the todo-container */
#todo-container {
    width: 60%;
    margin: auto;
    padding: 1.5em 1em 1em 1em;
}

i {
    background-color: red;
}

h1 {
    font-size: 25px;
}






#intro {
    font-family: Roboto, sans-serif;
    font-size: 40px;
    text-align: center;
    margin: 2em 0 0 0;
}

/* styles the form */
#header-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: rgb(136, 29, 29);
    padding: 15px 1em;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 5px rgb(136, 29, 29);

}


#to-do {
    width: 18em;

}

/* styles the form input element */
#header-form input {
    padding: 10px 5px;
    width: 18em;
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#container {
    padding: 1em;
    background-color: grey;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 5px gray;
}

/* styles the buttons */
button {
    width: 30px;
    height: 30px;
    background: rgb(221, 29, 29);
    border: none;
    color: #fff;
    font-size: 20px;
    outline: none;
}

button:hover {
    cursor: pointer;
}

/* styles the lists */
li {
    padding: 5px;
    margin-bottom: 15px;
    background-color: lightgray;
    border-radius: 5px;
    box-shadow: 0 0 5px;
}


/* styles the second form */
#container-form {
    display: flex;
    margin-bottom: 2em;
}


/* styles the enter an item input */
#text-input {
    padding: 10px;
    border-radius: 5px 0 0 5px;
}

/* styles all input */
input {
    outline: none;
    border: none;
    padding: 5px;
}

h1,
h2 {
    color: #fff;
}

h2 {
    font-size: 20px;
}

/* styles the add input */
#submit {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 0 5px 5px 0;
}


/* Responsive design for screen devices of max-width:1002px */
@media(max-width:1002px) {
    #header-input {
        margin-top: 5px;
    }

    #container-form #text-input {
        width: 80%;
    }

    #container-form #submit {
        width: 20%;
    }

    #todo-container {
        width: 80%;

    }

    #intro {
        font-size: 36px;
    }
}


/* Responsive design for screen devices of max-width:700px */

@media (max-width: 700px) {

    #todo-container {
        width: 98%;
        margin: auto;
    }


    #intro {
        font-size: 32px;
    }

    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 18px;
    }


    li {
        font-size: 13px;
    }


}